version: '3.8'

services:
  web:
    build: ./backend
    command: >
      /bin/bash -c "python manage.py migrate --noinput &&
                    python manage.py shell -c \"from django.contrib.auth.models import User; User.objects.filter(username='testuser').exists() or User.objects.create_superuser('testuser', 'testuser@example.com', 'testpassword')\" &&
                    python manage.py loaddata basic_fixture &&
                    python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
    networks:
      - backend

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=backend
      - POSTGRES_DB=backend_dev
    networks:
      - backend

  redis:
    image: redis
    ports:
      - 6379:6379
    networks:
      - backend

  celery_worker:
    build: ./backend
    command: celery -A celery_app worker --loglevel=info
    env_file:
      - ./.env.dev
    depends_on:
      - db    
      - redis
    volumes:
      - ./backend/:/usr/src/app/
    networks:
      - backend

  # jupyter:
  #   build: ./jupyter
  #   environment:
  #     - JUPYTER_ENABLE_LAB=yes
  #     - JUPYTER_TOKEN=k96y%tiq26be!tqb#p
  #   ports:
  #     - "8888:8888"
  #   volumes:
  #     - ./data:/home/jovyan/data
  #     - ./notebooks:/home/jovyan/work
  #   depends_on:
  #     - db
  #   networks:
  #     - backend

  frontend:
    build: ./frontend
    command: npm run dev
    volumes:
      - ./frontend:/usr/src/app
      - /frontend/node_modules
    ports:
      - 3000:3000
    restart: always
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000 
      - NEXT_PUBLIC_API_URL=http://localhost:3000
      - DJANGO_API_BASE_URL=http://web:8000

    networks:
      - backend


volumes:
  postgres_data:

networks:
  backend:
    driver: bridge
