Django==4.2.3
gunicorn==21.2.0
psycopg2-binary==2.9.6
django-filter
djangorestframework
celery
redis
scipy==1.13.1
matplotlib==3.9.0
numpy==1.23.5
pandas==2.2.2
Pillow
tensorflow[and-cuda]
tensorflow-hub==0.16.1
tf_keras==2.15.1
tf-keras-vis
scikit-image==0.23.2
async_timeout